<article>
  <h1 class="title">De Nationale Hypotheekbond</h1>
  <div class="subtitle">
    <span class="year">October 2019 - June 2020</span>
    <span class="position">Senior Developer</span>
    <span class="location">Diemen</span>
  </div>
  <div class="content">
    <div class="company-logo nationalehypotheekbond"></div>
    <div class="description">
      <ul>
        <li>Maintaining legacy code in a monorepo.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">MyBit B.V.</h1>
  <div class="subtitle">
    <span class="year">March 2015 - October 2019</span>
    <span class="position">Team Lead / Senior Developer</span>
    <span class="location">Hilversum</span>
  </div>
  <div class="content">
    <div class="company-logo mybit"></div>
    <div class="description">
      <ul>
        <li>Building an API and frontend interface for a furniture configurator that will let the end-user change and preview every aspect
          of the selected furniture
        </li>
        <li>Leading a new team of 9 developers into a new project developing alongside an external company to make the best software
          possible. Everything is built from the ground up with NodeJS, Laravel 5.8, Angular 8.
        </li>
        <li>Part of a “flexdev”-team that specialised in being able to switch between projects at a rapid pace, usually doing multiple
          projects of different clients at the same time.
        </li>
        <li>Projects handled through Agile-Scrum.</li>
        <li>Consistently pushing the company forward in ideas and adopting new methodology, including Git, Agile, TDD and CI.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">Open Forest B.V.</h1>
  <div class="subtitle">
    <span class="year">June 2014 - March 2015</span>
    <span class="position">PHP Developer</span>
    <span class="location">Lelystad</span>
  </div>
  <div class="content">
    <div class="company-logo openforest"></div>
    <div class="description">
      <ul>
        <li>Developing an EPD / EMR from the ground up using Zend Framework 2 and DHTMLX.</li>
        <li>Navigating and implementing external government SOAP-API like Vecozo and TelePsy</li>
        <li>Developing an Apple control Web Interface using Laravel4 and jQuery and later Laravel5 and AngularJS to create new users and
          synchronize user-profiles and desktop files between different locations while making sure this only happens between locations
          where the user has access to.
        </li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">Heynen Systems B.V.</h1>
  <div class="subtitle">
    <span class="year">June 2009 - June 2014</span>
    <span class="position">In house application developer</span>
    <span class="location">Lelystad</span>
  </div>
  <div class="content">
    <div class="company-logo heynensystems"></div>
    <div class="description">
      <ul>
        <li>Designing and developing software for in-house use (SKADA-like), based on PHP,
          HTML and MySQL to create a full order-, product-, client-, packaging management
          systems, including labelling and statistics tracking.
        </li>
        <li>Designing and assembling hardware solutions. Integrating Raspberry Pi’s into the
          workflow. Touchscreen interfaces at the weighting and packaging sections.
        </li>
        <li>Designing machine parts for use in fully automated technical textile packaging
          machines.
        </li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">Post Danmark</h1>
  <div class="subtitle">
    <span class="year">May 2008 - May 2009</span>
    <span class="position">Drift Coordinator (Floor manager)</span>
    <span class="location">Frederecia / Taulov (Denmark)</span>
  </div>
  <div class="content">
    <div class="company-logo postdanmark"></div>
    <div class="description">
      <ul>
        <li>Coordinating and managing a team within the company, working with 22 people
          (included 6 hearing impaired) in a foreign environment while not understanding the native language.
        </li>
        <li>Planning the work hours of the team.</li>
        <li>Problem coordinating with other teams.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">TransMission / van Galen Transport</h1>
  <div class="subtitle">
    <span class="position">Courier</span>
    <span class="location">Almere</span>
  </div>
  <div class="content">
    <div class="company-logo transmission"></div>
    <div class="description">
      <ul>
        <li>Delivering distribution packages within the Amsterdam area.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">Gunters en Meuser B.V.</h1>
  <div class="subtitle">
    <span class="position">Expeditie / Courier</span>
    <span class="location">Amsterdam / Almere</span>
  </div>
  <div class="content">
    <div class="company-logo guntersenmeuser"></div>
    <div class="description">
      <ul>
        <li>Delivering orders to clients, mostly construction sites and larger stores.</li>
        <li>Helping in the store with sales and restocking.</li>
        <li>Order picking.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  <h1 class="title">TPG Post</h1>
  <div class="subtitle">
    <span class="position">Mail sorting / delivery</span>
    <span class="location">Almere</span>
  </div>
  <div class="content">
    <div class="company-logo tpgpost"></div>
    <div class="description">
      <ul>
        <li>Sorting and preparing mail for delivery.</li>
        <li>Delivering mail in selected neighborhoods.</li>
      </ul>
    </div>
  </div>
</article>

