<!--<div id="logo"></div>-->
<aside id="sidebar">
</aside>
<section id="content">
  <div id="title">
    <h1>Hi, I'm Dennis.</h1>
    <div>Jack-of-all-trades Developer that loves a challenge.</div>
  </div>
  <div id="logo"></div>
  <div id="social">
    <a href="https://www.linkedin.com/in/xonefobic/" target="_blank" title="LinkedIn"><i class="mdi mdi-36px mdi-linkedin"></i></a>
    <a href="https://twitter.com/XoneFobic" target="_blank" title="Twitter"><i class="mdi mdi-36px mdi-twitter"></i></a>
    <a href="https://github.com/XoneFobic" target="_blank" title="Github"><i class="mdi mdi-36px mdi-github"></i></a>
  </div>
</section>

