@import '~src/styles/variables';
@import '~src/styles/typography';

html, body {
  font-family : 'Work Sans', sans-serif;
  font-size   : 18px;
  display     : flex;
  flex        : 1 0 auto;
  margin      : 0;
  padding     : 0;
  background  : #293133;
}

body {
  overflow   : hidden;
  min-height : 100%;
  margin     : 5px;
}

a {
  text-decoration : none;
  color           : #293133;
}

//
//*::selection {
//  color      : #293133;
//  background : #cf0;
//}
//
//html {
//  display    : flex;
//  //overflow   : hidden;
//  width      : 100vw;
//  height     : 100vh;
//  margin     : 0;
//  padding    : 0;
//  flex        : 1 1 auto;
//
//  background : #293133;
//}
//
//body {
//  font-family : 'Work Sans', sans-serif;
//  font-size   : 1.4vh;
//  display     : flex;
//  flex        : 1 1 auto;
//  margin      : ($standard-height-unit * 5) ($standard-width-unit * 5);
//  padding     : 0;
//  color       : #293133;
//  background  : #293133;
//}
//
//a {
//  text-decoration : none;
//  color           : #293133;
//}
